html, body {
  margin: 0;
  padding: 0;
  font-family: Georgia, serif;
  background-color: transparent;
  width: 100%;
}

.popup {
  position: relative;
  margin: 60px 80px 0 20px;
  font-size: 0.8rem;
  line-height: 1.5;
  color: black;
}

#landing-img {
  position: relative;
  bottom: 0;
  left: 0;
  width: 150px;
  height: auto;
  cursor: pointer;
  z-index: 10;
}

.site-title-box {
  position: fixed;
  top: 20px;
  left: 20px;
  z-index: 2;
  font-size: 0.8rem;
  color: black;
}

.footnote-wrapper {
  position: fixed;
  bottom: 10px;
  right: 10px;
  z-index: 2;
  color: black;
  font-size: 0.8rem;
}
