html, body {
  margin: 0;
  padding: 0;
  font-family: Georgia, serif;
  background-color: transparent;
  width: 100%;
}

.popup {
  position: relative;
  margin: 60px 80px 0 20px;
  font-size: 0.8rem;
  line-height: 1.5;
  color: black;
}

#landing-img {
  position: relative; /* normal flow */
  display: block;
  margin: 20px 0 0 0; /* optional top spacing */
  width: 150px;
  height: auto;
  cursor: pointer;
}

.site-title-box {
  position: fixed;
  top: 20px;
  left: 20px;
  z-index: 2;
  font-size: 0.8rem;
  color: black;
}

.footnote-wrapper {
  position: fixed;
  bottom: 10px;
  right: 10px;
  z-index: 2;
  color: black;
  font-size: 0.8rem;
}

.content-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
  margin: 60px 0px 0px 0px;
  font-size: 0.8rem;
  line-height: 1.5;
  color: black;
}

@media (max-width: 900px) {
  .content-grid {
    grid-template-columns: 1fr;
    margin: 40px 20px;
  }
}
